---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

#sidebar #avatar>a {
    display: block;
    width: 6rem;
    height: 6rem;
    border-style: none;
    border-radius: 1%;
    overflow: hidden;
}
